<h2>Products</h2>

<div *ngFor="let product of products">
<h3>
<a [title]="product.name + ' details'">
{{ product.name }}
</a>
</h3>
<p *ngIf="product.image">
  <img class="imgimg" [src]="product.image">
</p>
<p *ngIf="product.description">
Description: {{ product.description }}
</p>
<p *ngIf="product.rating">
rating: {{ product.rating }}
</p>
<!--
  <button type="button" (click)="share()">
  Share
  </button>
-->
<span>
<a [href] = "'https://telegram.me/share/url?url=' + product.link " target="_blank">
<button type="button" (click)="share()">
  telegram share
</button>
</a>
  <a [href] = "'https://web.whatsapp.com/send?text=' + product.link">
    <button type="button">whatsapp share</button>
    </a>
</span>
<app-product-alerts
  [product]="product"
  (notify)="onNotify()">
</app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->